@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
  @apply tracking-wide;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;

    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;

    --primary: 24 9.8% 10%;
    --primary-foreground: 60 9.1% 97.8%;

    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;

    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;

    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;

    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 20 14.3% 4.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;

    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;

    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;

    --primary: 60 9.1% 97.8%;
    --primary-foreground: 24 9.8% 10%;

    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;

    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;

    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;

    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 24 5.7% 82.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  /* Initial Modal &&Create Server Modal */
  .initial-modal_label,
  .create-server_label {
    @apply uppercase text-xs font-bold text-zinc-500 dark:text-[#dbdee1] !important;
  }

  .initial-modal_input,
  .create-server_input {
    @apply bg-zinc-300/50 dark:bg-[#1e1f22] border-0 focus-visible:ring-0 text-black dark:text-[#f2f3f5] focus-visible:ring-offset-0 !important;
  }

  /* File Upload */
  .file-upload_cancel-btn {
    @apply bg-rose-500 text-white p-1 rounded-full absolute shadow-sm !important;
  }

  /* Navigation */
  .navigation-action_add-btn {
    @apply flex items-center justify-center bg-background dark:bg-neutral-700 group-hover:bg-green-500 mx-3 h-[48px] w-[48px] rounded-[24px] group-hover:rounded-[16px] transition-all overflow-hidden  !important;
  }

  .nevigation-sidebar_separator {
    @apply h-[2px] w-10 mx-auto bg-zinc-300 dark:bg-zinc-700 rounded-md !important;
  }

  /* Mode toggle */
  .mode_toggle-sun {
    @apply h-[1.2rem] w-[1.2rem] rotate-0 scale-100 transition-all dark:-rotate-90 dark:scale-0 !important;
  }

  .mode_toggle-moon {
    @apply absolute h-[1.2rem] w-[1.2rem] rotate-90 scale-0 transition-all dark:rotate-0 dark:scale-100 !important;
  }

  /* Server Header */
  .server-header_btn {
    @apply w-full font-semibold px-3 flex items-center h-12 border-neutral-200 dark:border-neutral-800 border-b-2 hover:bg-zinc-700/10 dark:hover:bg-zinc-700/50 transition !important;
  }

  .server_header-dropdown-content {
    @apply w-56 text-xs font-medium text-black dark:text-neutral-400 space-y-[2xl] !important;
  }

  .server-header_dropdown-item {
    @apply px-3 py-2 text-sm cursor-pointer hover:bg-indigo-600 dark:hover:bg-indigo-500 hover:text-white dark:hover:text-white !important;
  }

  .server-header_dropdown-delete {
    @apply px-3 py-2 text-sm cursor-pointer text-red-600 dark:text-red-500 hover:bg-red-600 dark:hover:bg-red-500  hover:text-white dark:hover:text-white !important;
  }

  /* Create Channel */
  .create-channel_select-trigger {
    @apply bg-zinc-300/50 dark:bg-[#1e1f22] border-0 focus:ring-0 text-black dark:text-[#f2f3f5] ring-offset-0 capitalize outline-none !important;
  }

  /* Leave Server */
  .leave-server_cancel-btn {
    @apply hover:underline focus-visible:ring-0 focus-visible:ring-transparent focus-visible:ring-offset-0 focus-visible:underline !important;
  }

  /* Chat */
  .chat-input_add-btn {
    @apply absolute top-7 right-8 h-[24px] w-[24px] bg-zinc-500 dark:bg-zinc-400 hover:bg-zinc-600 dark:hover:bg-zinc-300 transition rounded-full p-1 flex items-center justify-center !important;
  }

  .chat-input_input {
    @apply px-14 py-6 bg-zinc-200/90 dark:bg-zinc-700/75 border-none focus-visible:ring-0 focus-visible:ring-offset-0 text-zinc-600 dark:text-zinc-200 !important;
  }
}
